/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
  }
  
  .card {
    background: #000000d0;
    color: white;
    padding: 1.5em;
    border-radius: 30px;
    width: 18rem;
    max-width: 420px;
    margin: 2rem;
    
  }
  
 
  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }*/
  
  .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "No data";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  } 


body{
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
  display: flex;
  justify-content: center;
}

  .card {
    /* border: 1px solid black; */
    margin: 2rem;
    padding: 1.5rem;
    background: #000000d0;
    color: white;
    border-radius: 30px;
    width: 18rem;
    max-width: 420px;
}


.temp {
    font-size: 2rem;
}